<mat-list role="list"
          *ngIf="date$ | async as date; else loading">
    <ng-container *ngIf="date.length > 0 ; else empty">

        <mat-list-item role="listitem"
                       *ngFor="let item of date$ | async">{{item.title}},{{item.price}}$
        </mat-list-item>
    </ng-container>
</mat-list>
<ng-template #empty>
    Oops! There is no data!</ng-template>
<ng-template #loading>
    <mat-progress-spinner [color]="'primary'"
                          [mode]="'indeterminate'"
                          [value]="50">
    </mat-progress-spinner>
</ng-template>
